
.idea/misc.xml
.idea/modules.xml
IK1203-Networks-and-Communication.iml
task2/.idea/misc.xml
task2/.idea/vcs.xml
task2/task2.iml
task2/TCPAsk.class
task2/tcpclient/TCPClient.class
task2/.idea/.name
task3/HTTPAsk.class
task3/out/production/task3/.idea/misc.xml
task3/out/production/task3/.idea/modules.xml
task3/out/production/task3/.idea/vcs.xml
task3/out/production/task3/HTTPAsk.class
task3/out/production/task3/task3.iml
task3/out/production/task3/TCPClient.class
task3/task3.iml
task3/TCPClient.class
task3/.idea/misc.xml
task3/.idea/modules.xml
task3/.idea/vcs.xml
task4/.idea/vcs.xml
task4/.idea/misc.xml
task4/.idea/modules.xml
task4/.idea/task4.iml
.idea/.name
task4/.idea/.name
